<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<!-- namespace: 该mapper.xml映射文件的唯一标识 -->
<mapper namespace="com.wgx.mapper.StudentMapper">
	<select id="queryStudentByStuno" parameterType="int" resultType="com.wgx.entity.Student">
		select * from student where stuno = #{stuNo}
	</select>
	<insert id="addStudent" parameterType="com.wgx.entity.Student" >
		insert into student(stuno,stuname,stuage) value(#{stuNo},#{stuName},#{stuAge})
	</insert>	
</mapper>
